    <header class="sticky-header" id="stickyHeader">
      
      <div class="header-content">
        <a href="#" class="logo">{{ logoText }}</a>
        
        <nav class="nav-menu">
          <a *ngFor="let link of navLinks" 
             [href]="link.href" 
             class="nav-link montserrat">
            {{ link.label }}
          </a>
        </nav>

      </div>
      
      <nav class="mobile-nav" id="mobileNav">
        <a *ngFor="let link of navLinks" 
           [href]="link.href" 
           class="mobile-nav-link">
          {{ link.label }}
        </a>
      </nav>
    </header>