<header class="sticky-header" id="stickyHeader">

  <div class="header-content">
    <a href="#" class="logo" (click)="onNavLinkClick({href: '#', label: ''}, $event)">{{ logoText }}</a>

    <nav class="nav-menu">
      <a *ngFor="let link of navLinks" [href]="link.href" class="nav-link montserrat" (click)="onNavLinkClick(link, $event)">
        {{ link.label | translate }}
      </a>
    </nav>

    <div class="lang-toggle-slider" [class.pl]="currentLanguage === 'pl'" (click)="toggleLanguage()"
      title="Switch Language">
      <div class="toggle-slider montserrat"></div>
      <div class="toggle-labels">
        <span class="montserrat toggle-en">EN</span>
        <span class="montserrat toggle-pl">PL</span>
      </div>
    </div>

  </div>

  <nav class="mobile-nav" id="mobileNav">
    <a *ngFor="let link of navLinks" [href]="link.href" class="mobile-nav-link" (click)="onNavLinkClick(link, $event)">
      {{ link.label }}
    </a>
  </nav>
</header>